.btn {
    background-color: #2563eb;
    color: white;

    border: none;
    border-radius: 8px;

    padding: 12px 24px;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}

.btn:hover {
    background-color: #1d4ed8;

    transform: scale(1.05);
}

.btn__mais {
    display: inline-block;

    margin-top: 15px;

    padding: 8px 18px;

    background-color: rgb(37, 99, 235);

    color: white;

    text-decoration: none;

    border-radius: 8px;

    font-size: 14px;

    font-weight: 600;

    transition: 0.3s;
}

.btn__mais:hover {
    background-color: rgb(59, 130, 246);
}