.header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 15px 40px;
}

.header__logo {
    width: 170px;

    height: auto;

    display: block;
}

.header__name {
  color: #00b894; /* Verde Operacional Sustentável */
  font-size: 1.4rem;
}

.header__brand {
    display: flex;

    align-items: center;

    gap: 15px;
}
