.header {
    background-color: rgb(254, 254, 254);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
}

.header__logo {
    width: 180px;

    height: auto;

    display: block;
}