.team {
    padding: 80px 40px;

    text-align: center;
}

.team__title {
    font-size: 36px;

    margin-bottom: 40px;
}


.card__img {
    width: 120px;

    height: 120px;

    object-fit: cover;

    border-radius: 50%;

    margin-bottom: 20px;
}


.card__links {
    margin-top: 15px;
}

.card__link {
    text-decoration: none;

    color: #2563eb;

    margin: 0 8px;

    transition: 0.3s;
}

.card__link:hover {
    color: #1d4ed8;
}