/* NAVBAR */

.navbar {
    display: flex;

    gap: 35px;
}


/* LINKS */

.navbar__link {
    color: rgb(37, 99, 235);

    font-size: 22px;

    font-weight: 600;

    text-decoration: none;

    transition: 0.3s;
}


/* HOVER */

.navbar__link:hover {
    color: rgb(59, 130, 246);
}