/* ROADMAP */

.roadmap {
    padding: 80px 20px;
}

.roadmap__title {
    text-align: center;

    font-size: 42px;

    margin-bottom: 60px;
}


/* CONTAINER */

.roadmap__container {
    position: relative;

    max-width: 900px;

    margin: auto;
}


/* LINHA CENTRAL */

.roadmap__container::after {
    content: "";

    position: absolute;

    width: 4px;

    background-color: #2563eb;

    top: 0;

    bottom: 0;

    left: 50%;

    transform: translateX(-50%);
}


/* ITEM */

.roadmap__item {
    padding: 20px 40px;

    position: relative;

    width: 50%;
}


/* BOLINHA */

.roadmap__item::after {
    content: "";

    position: absolute;

    width: 20px;

    height: 20px;

    background-color: white;

    border: 4px solid #2563eb;

    border-radius: 50%;

    top: 35px;

    z-index: 1;
}


/* ESQUERDA */

.left {
    left: 0;
}

.left::after {
    right: -14px;
}


/* DIREITA */

.right {
    left: 50%;
}

.right::after {
    left: -14px;
}


/* CARD */

.roadmap__content {
    background-color: #f8fafc;

    padding: 20px;

    border-radius: 15px;

    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


/* NUMERO */

.roadmap__number {
    width: 35px;

    height: 35px;

    background-color: #2563eb;

    color: white;

    border-radius: 50%;

    display: flex;

    align-items: center;

    justify-content: center;

    font-weight: bold;

    margin-bottom: 15px;
}


/* TITULO */

.roadmap__card-title {
    font-size: 20px;

    margin-bottom: 10px;
}


/* TEXTO */

.roadmap__text {
    font-size: 15px;

    line-height: 1.5;
}