.tech {
    padding: 80px 40px;

    text-align: center;
}

.tech__title {
    font-size: 36px;

    margin-bottom: 40px;
}

.roadmap {
    padding: 80px 40px;

    text-align: center;

    background-color: #f1f5f9;
}

.roadmap__title {
    font-size: 36px;

    margin-bottom: 30px;
}

.roadmap__text {
    font-size: 18px;

    margin-bottom: 15px;
}