/* HOME ABOUT */

.sobre {
    padding: 80px 40px;

    text-align: center;
}

.sobre__title {
    font-size: 36px;

    margin-bottom: 20px;
}

.sobre__text {
    font-size: 18px;

    max-width: 800px;

    margin: auto;
}


.sobre-pagina {
    padding: 80px 40px;

    text-align: center;
}

.sobre-pagina__title {
    font-size: 36px;

    margin-bottom: 20px;
}

.sobre-pagina__text {
    font-size: 18px;

    max-width: 900px;

    margin: 20px auto;
}


.objetivo {
    padding: 80px 40px;

    text-align: center;

    background-color: #f1f5f9;
}

.objetivo__title {
    font-size: 36px;

    margin-bottom: 20px;
}

.objetivo__text {
    font-size: 18px;

    max-width: 800px;

    margin: auto;
}